# Build #
#########
MANIFEST.MF
dependency-reduced-pom.xml

# Compiled #
############
bin
build
dist
lib
out
run
target
*.com
*.class
*.dll
*.exe
*.o
*.so

# Databases #
#############
*.db
*.sql
*.sqlite

# Packages #
############
*.7z
*.dmg
*.ear
*.gz
*.iso
*.jar
!/gradle/wrapper/gradle-wrapper.jar
*.rar
*.tar
*.war
*.zip

# Repository #
##############
.git

# Logging #
###########
/logs
*.log

# Misc #
########
*.bak
*.tmp

# System #
##########
.DS_Store
ehthumbs.db
Thumbs.db

# Project #
###########
.buildpath
.classpath
.cproject
.externalToolBuilders
.gradle
.idea
.project
.settings
nbproject
atlassian-ide-plugin.xml
build.xml
nb-configuration.xml
*.iml
*.ipr
*.iws
*.launch
*.pydevproject
